@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;0,900;1,100;1,200;1,300;1,500;1,700;1,900&display=swap');

/* Paleta de Colores definida por el cliente */
:root {
    --salmon: #FFA5AB;
    --calabaza: #FC7300;
    --indigo: #00425A;
    --negro: #181823;
    --blanco: #EFF5F5;    
    
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", "Belanosima", Arial;
}

textarea {
    resize: none;
  }
